.input_container {
  padding: 10px;
  width: 400px;
  border: 1.5px solid #fca212e1;
  border-radius: 30px 30px 30px 30px;
  background-color: #000000 !important;
  box-shadow: #fca21249 0px 4px 12px;
  margin: 10px;
  display: flex;
}

.input {
  background-color: transparent !important ;
  color: #fff;
  width: 60%;
  margin-left: 10px;
  outline: none;
  border: none;
}

.input ::placeholder {
  color: black !important;
}
