.input_container {
  padding: 10px;
  width: 400px;
  border: 1.5px solid #000;
  border-radius: 30px 30px 30px 30px;
  background-color: transparent !important;
  margin: 10px;
  display: flex;
  background: #e0e0e0;
  box-shadow: inset 38px 38px 46px #c5c5c5, inset -38px -38px 46px #fbfbfb;
}

.input {
  background-color: transparent !important ;
  color: #fff;
  width: 60%;
  margin-left: 10px;
  outline: none;
  border: none;
}

.input ::placeholder {
  color: #ffff !important;
}
