.products_cards_cart_page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  border-radius: 31px;
  background: #e0e0e0;
  box-shadow: inset 38px 38px 46px #c5c5c5, inset -38px -38px 46px #fbfbfb;
  cursor: pointer;
}

.product_card-cart {
  width: 500px;
  height: 190px;
  border-radius: 20px;
  display: flex;
}

.text_name_product_cart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 20px;
}

.img_product_card_cart_page {
  height: 191px;
  width: 200px;
  object-fit: cover;
  border-radius: 18px 0 0 18px;
}

.text_name_product_cart h3 {
  font-size: 20px;
  padding: 10px;
  color: #000;
  font-family: "Playfair Display", serif;
}

.text_name_product_cart p {
  font-size: 20px;
  margin-left: 10px;
  color: #000;
  font-family: "Playfair Display", serif;
}

.text_name_product_cart Button {
  margin-left: 30px;
  margin-top: 50px;
  font-family: "Playfair Display", serif;
}
