.userInfo__tap {
  color: #000;
}

.user_info {
  margin-top: 10px;
  height: 30px;
  width: 500px !important;
  font-size: 20px;
  border-radius: 10px;
  color: black;
  margin-left: 10px;
  font-weight: 600;
  background: #000;
  box-shadow: inset 38px 38px 46px #232323af, inset -38px -38px 46px #ffffff;
}

.user_info p {
  margin-left: 5px;
}

.user_info_line {
  border: 0.5px solid #6e6b6b;
  margin-top: 20px;
  width: 700px;
  margin-top: 15px;
}
