.card_home_page {
  height: 310px;
  width: 330px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.336) 0px 4px 12px;
  margin: 20px;
  cursor: pointer;
}

.img_item_home_page {
  height: 240px !important;
  width: 330px !important;
  border-radius: 10px 10px 0px 0px !important;
  object-fit: cover;
}

.item_des_home_page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
  margin-top: 18px;
}

.item_name_home_page {
  color: #000000;
  font-size: x-large;
  font-family: "Dancing Script", cursive;
}

.item_price_home_page {
  font-size: x-large;
  font-family: "Dancing Script", cursive;
  color: #e0a400;
}

/* 
font-family: 'Montagu Slab', serif;
font-family: 'Praise', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Roboto Condensed', sans-serif; */
