.card {
  height: 310px;
  width: 330px;
  border-radius: 10px;
  background-color: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 20px;
}

.img_item {
  height: 240px !important;
  width: 330px !important;
  border-radius: 10px 10px 0px 0px !important;
  object-fit: cover;
}

.item_des {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
  margin-top: 18px;
}

.item_name {
  color: #52cc57;
}

.item_price {
  color: #ffd130;
}
