.nav_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 65px;
  width: 100%;
  color: "#000";
  background: rgb(2, 0, 36);
  background: transparent;
  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
  background-color: rgb(255, 255, 255);
}

.left_side {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 400px;
}

.logo_image_nav {
  height: 70px;
  width: 60px;
  object-fit: contain;

  color: #000 !important;
}

.logo_name_nav {
  font-size: 35px;
  font-family: "Dancing Script", cursive;
}

.ul_nav_bar_link {
  list-style-type: none;
}

.li_nav_bar_link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link_Logo {
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  color: #000 !important;
  padding: 5px;
}

.link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin-right: 20px;
  padding: 5px;
}

.link:hover {
  border-bottom: 1px solid #000 !important;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #000 !important;
  padding: 4px;
}

.link_nav_icon {
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  color: #000;
  margin-left: 10px;
}

.link_nav_icon .avatar :hover {
  border-bottom: 1px solid #000 !important ;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  color: #000 !important ;
  padding: 4px;
}

.stack_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  font-size: 25px !important;
  font-weight: 400 !important;
  background-color: transparent !important;
  color: #000 !important;
}

.menu-DropDown {
  cursor: pointer;
}
