.card_pay_cart {
  height: 130px;
  width: 80%;
  margin-left: 10%;
  margin-top: 10px;
  color: #000;
  background-color: transparent;
  font-family: "Playfair Display", serif;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: inset 38px 38px 46px #c5c5c5, inset -38px -38px 46px #fbfbfb;
}

.card_pay_cart h3 {
  color: #000;
  margin-left: 10px;
  font-size: 18px;
  margin-top: 20px;
}

.icon_text_shipping {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px !important;
  margin-left: 10px;
}

.icon_text_shipping p {
  margin-left: 10px !important;
  font-size: 18px !important;
}
