.card_shipping_cart {
  height: 160px;
  width: 80%;
  margin-left: 10%;
  color: #000 !important;
  border-radius: 18px;
  background-color: #fff;
  font-family: "Playfair Display", serif;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: inset 38px 38px 46px #c5c5c5, inset -38px -38px 46px #fbfbfb;
}

.card_text_shipping_margin {
  margin-top: 10px !important;
  margin-left: 10px;
}

.text_card_shipping {
  font-size: 25px !important;
  margin-bottom: 10px !important;
}

.icon_text_shipping {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 5px;
  margin-top: 5px;
}

.icon_text_shipping p {
  margin-left: 10px !important;
  font-size: 18px !important;
}
