.right_side_Cart_page {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 60px;
  width: 400px;
}

.right_side_Cart_page-btn {
  display: flex;
  margin-left: 45px;
  margin-top:50px;
}

.right_side_Cart_page-btn-btn {
  height: 40px;
  color: #000;
  border-radius: 23px;
  margin-left: 5px;
  border: 1.5px solid #000;
  font-family: "Playfair Display", serif;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  background-color: transparent;
}

.right_side_Cart_page-btn-btn:hover {
  height: 40px;
  color: #fff;
  border-radius: 23px;
  border: 1px solid #000;
  font-family: "Playfair Display", serif;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  transition: 1s ease-out;
  background-color: rgba(0, 0, 0, 0.659);
}
