* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background: rgb(2, 0, 36);
  background: linear-gradient(
    60deg,
    rgba(238, 174, 202, 0.753) 40%,
    rgba(148, 187, 233, 1) 35%,
    rgba(0, 213, 255, 0.26) 100%
  ); */

  background-color: rgba(238, 174, 202, 0.753);
}

.full_screen {
  height: 70vh;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
