.user_info_auth_line {
  border: 0.5px solid #000;
  margin-top: 20px;
  width: 700px;
  margin-top: 15px;
  background: #323232;
  box-shadow: inset 38px 38px 46px #1d1c1c, inset -38px -38px 46px #292828;
}

.user_info_auth {
  color: "#000";
  margin-left: "5px";
}

.user_info_auth_name {
  color: #000;
}
